/* 
.App{
    display: flex;
}
.sidebar{
    width: 88px;
    padding-right: 21px;
}
.others{
    width: 100%;
}

@media(max-width:480px){
    .App{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
        padding-right: 0px;
    }

} */


.App{
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.sidebar{
    width: 88px;
    padding-right: 21px;
    position: fixed;
    height: 100vh;
}
.others{
    margin-left: 90px; 
    width: calc(100% - 90px); 
    height: 100vh; 
    overflow-y: auto; 
    box-sizing: border-box;
}

@media(max-width:480px){
    .App{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
        position: relative;
        overflow-y: hidden;
        height: auto;
        margin-bottom: 10px;
        /* overflow-x: visible; */
    }
    .others{
        width: 100%;
        margin-left: 0;
    }

}